@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes hoverEffect {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-3.5px);
    }
  }
  
  .hover-animation {
    animation: hoverEffect 1.4s infinite alternate ease-in-out;
  }
  